<div class="center">
  <article class="profielinfo">
    <div class="">
      <img src="images/profielfoto.png" alt="">
      <ul>
        <li><strong>Geslacht:</strong> Man</li>
        <li><strong>Naam:</strong> Sam Boot</li>
        <li><strong>Leeftijd:</strong> 21 jaar</li>
        <li></li>
      </ul>
    </div>
    <div class="">
      <p>Want de reden voor online daten is vanzelfsprekend. Dat is om een leuke man te vinden. Wie wil dat nou niet?
        Geef je wel een reden? Dan laat dit zien dat je er nog niet comfortabel mee bent.​
        Dus sturen ze je geen berichtje. Want onzekere vrouwen zijn minder aantrekkelijk. Verder wil hij je ook niet moeten overtuigen van het feit dat online dating de normaalste zaak van de wereld is.
        Gelukkig zie ik al steeds minder vrouwen dit doen. Alleen kan ik dat helaas niet zeggen over de volgende tip...</p>
    </div>
    <div class="">
      <img src="images/foto1.png" alt="">
      <img src="images/foto3.png" alt="">
      <img src="images/foto2.png" alt="">
    </div>
  </article>
</div>
