<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="css/style.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>

<h1><%- include ('partials/logo'); %></h1>

<!-- <section>
  <h2>Zoekopdrachten</h2>
  <ul>
    <li>Geslacht:</li>
    <li>Leeftijd:</li>
    <li>Lengte:</li>
    <li>Afstand:</li>
    <li>Persoonlijkheid:</li>
  </ul>
</section> -->

<div class="matches">
  <a href="profieleen"><section>
    <div class="">
      <img src="images/profieleen.png" alt="">
      <h2>Sam Boot</h2>
    </div>
    <div class="">
      <p>jnzsbxcjhmvbsd n</p>
    </div>
  </section></a>
  <a href="profieltwee"><section>
    <div class="">
      <img src="images/profieleen.png" alt="">
      <h2>Sam Boot</h2>
    </div>
    <div class="">
      <p>jnzsbxcjhmvbsd n</p>
    </div>
  </section></a>
  <a href="profieldrie"><section>
    <div class="">
      <img src="images/profieleen.png" alt="">
      <h2>Sam Boot</h2>
    </div>
    <div class="">
      <p>jnzsbxcjhmvbsd n</p>
    </div>
  </section></a>
  <a href="profielvier"><section>
    <div class="">
      <img src="images/profieleen.png" alt="">
      <h2>Sam Boot</h2>
    </div>
    <div class="">
      <p>jnzsbxcjhmvbsd n sckabjhsbcjh c aibjksbdnzkb  fasbzjkbsd</p>
    </div>
  </section></a>
</div>



</body>
</html>
